body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 49, 49);
    height: 100vh;
}

#calculator{
    width: 300px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
}

.result{
    height: 30px;
    padding: 20px;
    text-align: right;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
}

.buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 1px;
    border-radius: 1px;
}

.zero{
    grid-column: span 2;
}


.branco{
    background-color: rgb(119, 119, 119);
}

.laranja{
    background-color: orange;
}

.cinza{
    background-color: rgb(44, 44, 44);
}